*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
}
.banner{

    height: 100vh;
    background-color: #2135cc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.head2{
    font-size: 30px;
    color: white;
    font-weight: 800;
}
.word{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    
}
.mail, .pass{
    width: 350px;
    height: 60px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 16px;


}



.form{
    margin-top: 20px;
}
.password{
    margin-top: 15px;
}
.btn{
    cursor: pointer;
    width: 360px;
    height: 68px;
    border-radius: 8px;
    border: none;
    background-color: #f67a36;
    color: white;
    font-size: 20px;
    margin-top: 35px;
}
.btn:hover{

background-color: #ee5b0b;

    
}
.point{
    display: flex;
}
.some, .someone,.someone2{
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    color: white;
    text-decoration: underline;
}
.some:hover,.someone:hover,.someone2:hover{
    text-decoration: none;
}
.someone{
    margin-left: 100px;
}


#light{
    display: none;
}
.Signup-screen{
    display: none;

}
.someone2{
    margin-left: 220px;
}
#lightus{
display: none;
}

